.discord-attachment {
	color: #dcddde;
	display: flex;
	font-size: 13px;
	line-height: 150%;
	margin-bottom: 8px;
	margin-top: 8px;
}

.discord-attachment .discord-image-wrapper {
	display: block;
	position: relative;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	overflow: hidden;
	border-radius: 3px;
}

.discord-attachment .discord-image-wrapper img,
.discord-attachment .discord-image-wrapper video {
	max-width: 400px;
	/*width: 100%;*/
	height: auto;
}

.discord-attachment-generic {
	display: flex;
	width: auto;
	max-width: 520px;
	height: 40px;
	padding: 10px;
	background-color: #2f3136;
	border: 1px solid #292b2f;
	border-radius: 3px;
	overflow: hidden;
}

.discord-attachment-generic-icon {
	float: left;
	height: 100%;
	width: auto;
}

.discord-attachment-generic-icon > svg {
	width: 30px;
	height: 100%;
	margin-right: 10px;
}

.discord-attachment-generic-inner {
	flex-grow: 1;
	width: -moz-fit-content;
	width: fit-content;
	height: 100%;
}

.discord-attachment-generic-size {
	color: #72767d;
	font-size: 12px;
	align-items: flex-start;
	line-height: 100%;
}

.discord-attachment-generic-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: -moz-fit-content;
	width: fit-content;
}

.discord-attachment-generic-download {
	float: right;
	height: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

.discord-attachment-generic-download > a > svg {
	height: 100%;
	color: rgb(185, 187, 190);
}

.discord-attachment-generic-download > a > svg:hover {
	color: rgb(220, 221, 222);
}

svg.discord-volume-button-icon {
	color: rgb(211, 213, 220);
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.discord-play-button-icon {
	margin-left: 1px;
	margin-right: -1px;
	color: rgb(255, 255, 255);
}

.discord-play-button-background.playing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.discord-play-button-background.paused {
	display: none;
}

.discord-audio-element {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
}

.discord-volume-button {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 12px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.discord-mediabar-progress {
	width: 100%; /* change to achieve volume effect */
	z-index: 3;
	background-color: var(--brand-experiment);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.discord-mediabar-grabber {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 2;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-top: -5px;
	margin-right: -5px;
	background-color: var(--brand-experiment);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition:
		background-color 0.25s linear,
		-webkit-transform 0.25s ease-in-out;
	transition:
		background-color 0.25s linear,
		-webkit-transform 0.25s ease-in-out;
	transition:
		transform 0.25s ease-in-out,
		background-color 0.25s linear;
	transition:
		transform 0.25s ease-in-out,
		background-color 0.25s linear,
		-webkit-transform 0.25s ease-in-out;
	cursor: -webkit-grab;
	cursor: grab;
}

.discord-mediabar-wrapper {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	height: 6px;
	background-color: hsl(var(--primary-300-hsl) / 0.3);
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 72px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.discord-mediabar-interaction {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	margin: 0 7px;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	-ms-flex-item-align: center;
	align-self: center;
	border-radius: 8px;
	background-color: hsl(var(--black-500-hsl) / 0.7);
	padding: 4px 8px;
	width: 72px;
	margin: 0 4px 0 0;
}

.vertical-3GO7H5 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	height: 54px;
	width: 140px;
}

.discord-voice-canvas {
	width: 56px;
	margin-left: 12px;
	z-index: 1;
	height: 32px;
	min-width: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-top: -4px;
	margin-bottom: -4px;
	cursor: pointer;
}

.discord-voice-time {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 12px;
	color: rgb(211, 213, 220);
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-variant-numeric: tabular-nums;
}

.discord-volume-button-button {
	cursor: pointer;
	line-height: 0;
	width: auto;
	background: transparent;
	color: currentColor;
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: none;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 2px 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.discord-volume-button-button-contents {
	--button--underline-color: transparent;
	background-image: linear-gradient(
		0deg,
		transparent,
		transparent 1px,
		var(--button--underline-color) 0,
		var(--button--underline-color) 2px,
		transparent 0
	);
}

.discord-volume-button-icon {
	color: rgb(211, 213, 220);
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.discord-volume-button-slider {
	margin-bottom: 4px;
	margin-left: -8px;
	z-index: 2;
	position: absolute;
	bottom: calc(100% + 16px);
	left: -60px;
	right: 0;
	display: none;
	-webkit-app-region: no-drag;
}

.discord-voice-message-container {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.25rem;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	text-indent: 0;
	min-height: 0;
	min-width: 0;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	position: relative;
	justify-self: start;
	-ms-flex-item-align: start;
	align-self: start;
	margin-top: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	max-height: inherit;
	border-radius: 2px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	height: 100%;
	background-color: #2f3136;
	border-radius: 24px;
	padding: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.ripple-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 24px;
	overflow: hidden;
}

.ripple {
	width: 0;
	-webkit-transition: width 0.45s ease-in-out;
	transition: width 0.45s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	aspect-ratio: 1/1;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgb(88, 101, 242);
}

.discord-play-button-background {
	background: linear-gradient(151.11deg, var(--brand-460) 16.55%, var(--brand-560) 104.36%);
	height: 32px;
	width: 32px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: -4px;
	margin-top: -4px;
	margin-bottom: -4px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Input range - chrome and safari */

input[type='range'].discord-voice-canvas {
	--range-progress: 0;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	background: #4e5058;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	cursor: pointer;
}

/* Input range - firefox */
input[type='range'].discord-voice-canvas::-moz-range-track {
	position: relative;
	background: #4e5058;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type='range'].discord-voice-canvas::before {
	content: '';
	height: 2px;
	background: #fff;
	width: var(--range-progress);
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
}

/* played progress length - firefox */
input[type='range'].discord-voice-canvas::-moz-range-progress {
	background: #fff;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 2px;
}

/* slider thumb - chrome and safari */
input[type='range'].discord-voice-canvas::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	border: none;
	background-color: #fff;
	cursor: pointer;
	position: relative;
}

/* dragging thumb - chrome and safari */
input[type='range'].discord-voice-canvas:active::-webkit-slider-thumb {
	transform: scale(1.2);
}

/* slider thumb - firefox */
input[type='range'].discord-voice-canvas::-moz-range-thumb {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	border: transparent;
	position: relative;
}
/* dragging thumb - firefox */
input[type='range'].discord-voice-canvas:active::-moz-range-thumb {
	transform: scale(1.2);
}
